Repository incmixlabs/ui, pull requests merged in 2025-07, with the labels that each got.

#313 feat: enhance sidebar theme
  frontend/pages/src/common/components/layouts/admin-panel/app-sidebar.tsx
  frontend/pages/src/common/components/layouts/admin-panel/nav-main.tsx
  frontend/pages/src/users/settings-page.tsx
  frontend/store/src/hooks/use-settings-store.ts
  frontend/ui/src/components/sidebar/sidebar.tsx
  frontend/ui/src/styles/global.css
Labels: draft, frontend

#316 feat(task): add roadmap view for tasks
  frontend/pages/src/tasks/tasks-page/index.tsx
  frontend/store/src/hooks/use-settings-store.ts
  frontend/ui/src/components/projects/roadmap-view/index.tsx
  frontend/ui/src/components/theme/theme-panel.tsx
  frontend/ui/src/hooks/use-window-size.ts
Labels: draft, frontend

#338 feat(mini-sidebar): submenu items now display correctly
  frontend/pages/src/common/components/layouts/admin-panel/app-sidebar.tsx
  frontend/pages/src/common/components/layouts/admin-panel/nav-main.tsx
  frontend/pages/src/common/components/layouts/admin-panel/project-switcher.tsx
  frontend/pages/src/common/components/layouts/admin-panel/switcher.tsx
  frontend/ui/src/components/sidebar/hovermenu.tsx
  frontend/ui/src/components/sidebar/sidebar.tsx
  frontend/ui/src/styles/global.css
Labels: frontend

#348 fix: create project issue
  frontend/pages/src/common/components/layouts/admin-panel/nav-main.tsx
  frontend/ui/src/components/index.ts
  frontend/ui/src/components/projects/components/add-project-auto-form.tsx
  frontend/ui/src/components/projects/components/project-form-schema.ts
  frontend/ui/src/components/projects/components/reusable-add-project.tsx
  frontend/ui/src/components/projects/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: frontend

#351 feat(kanban): update the kanban card to match the figma design
  frontend/pages/src/common/components/layouts/admin-panel/nav-main.tsx
  frontend/pages/src/tasks/tasks-page/index.tsx
  frontend/ui/src/components/color-picker.tsx
  frontend/ui/src/components/kanban-board/board/board-column.tsx
  frontend/ui/src/components/kanban-board/board/index.tsx
  frontend/ui/src/components/kanban-board/board/task-card.tsx
  frontend/ui/src/components/kanban-board/shared/create-column-form.tsx
  frontend/ui/src/components/kanban-board/shared/ref-url-summary.tsx
  frontend/ui/src/components/secondary-sidebars/index.tsx
  frontend/ui/src/components/sidebar/sidebar.tsx
Labels: frontend

#359 feat: save project to backend
  frontend/store/src/index.ts
  frontend/store/src/services/common.ts
  frontend/ui/src/components/projects/components/reusable-add-project.tsx
  frontend/ui/src/components/projects/hooks/use-project-mutation.tsx
  frontend/ui/src/components/projects/index.tsx
  frontend/ui/src/utils/constants.ts
Labels: frontend

#361 Fix list view
  frontend/ui/src/components/kanban-board/list/index.tsx
  frontend/ui/src/components/kanban-board/list/list-column.tsx
  frontend/ui/src/components/kanban-board/list/task-actions-menu.tsx
  frontend/ui/src/components/kanban-board/list/task-card.tsx
  frontend/ui/src/components/kanban-board/shared/overlapping-avatar-group.tsx
Labels: frontend

#360 feat(dashboard): add new widgets with drag-and-drop support
  frontend/ui/package.json
  frontend/ui/src/components/charts/stats-card.tsx
  frontend/ui/src/components/dashboard/sidebar/widgets-data.tsx
  frontend/ui/src/components/radixui/card/index.tsx
  frontend/ui/src/widgets/activity-timeline/index.tsx
  frontend/ui/src/widgets/calendar/calendar.tsx
  frontend/ui/src/widgets/index.ts
  frontend/ui/src/widgets/live-visitors/index.tsx
  frontend/ui/src/widgets/monthly-budget/index.tsx
  frontend/ui/src/widgets/project/project-list.tsx
  frontend/ui/src/widgets/project/project-timeline.tsx
  frontend/ui/src/widgets/subscriber-countries/assets/au.png
  frontend/ui/src/widgets/subscriber-countries/assets/br.png
  frontend/ui/src/widgets/subscriber-countries/assets/ch.png
  frontend/ui/src/widgets/subscriber-countries/assets/fr.png
  frontend/ui/src/widgets/subscriber-countries/assets/in.png
  frontend/ui/src/widgets/subscriber-countries/assets/index.tsx
  frontend/ui/src/widgets/subscriber-countries/assets/usa.png
  frontend/ui/src/widgets/subscriber-countries/index.tsx
  frontend/ui/src/widgets/task-stats/done-task.tsx
  frontend/ui/src/widgets/task-stats/in-progress.tsx
  frontend/ui/src/widgets/task-stats/new-task-chart.tsx
  frontend/ui/src/widgets/task-stats/new-task.tsx
  frontend/ui/src/widgets/task-stats/task-chart.tsx
  pnpm-lock.yaml
Labels: frontend

#367 feat(dashboard): fix new widget persistence in dashboard and add two new presets for user
  frontend/ui/src/components/charts/spark-chart.tsx
  frontend/ui/src/components/charts/statistic-weekly-active-chart.tsx
  frontend/ui/src/components/dashboard/assets/dark-default-layout.svg
  frontend/ui/src/components/dashboard/assets/dark-group-template.svg
  frontend/ui/src/components/dashboard/assets/index.tsx
  frontend/ui/src/components/dashboard/assets/light-default-layout.svg
  frontend/ui/src/components/dashboard/assets/light-group-template.svg
  frontend/ui/src/components/dashboard/dashboard-types.ts
  frontend/ui/src/components/dashboard/data.ts
  frontend/ui/src/components/dashboard/sidebar/layout-presets-selection.tsx
  frontend/ui/src/components/dashboard/sidebar/widgets-data.tsx
  frontend/ui/src/hooks/use-drag-and-drop.ts
  frontend/ui/src/hooks/use-grid-components.tsx
  frontend/ui/src/widgets/live-visitors/index.tsx
  frontend/ui/src/widgets/task-stats/new-task-chart.tsx
  frontend/ui/src/widgets/task-stats/task-chart.tsx
  frontend/ui/src/widgets/task-stats/total-task-chart.tsx
Labels: draft, frontend

#362 feat: hide roles page from sidebar
  apps/fihi-app/src/App.tsx
  apps/fihi-app/src/route-builder.ts
  frontend/pages/src/auth/hooks/auth.ts
  frontend/pages/src/common/components/layouts/admin-panel/app-sidebar.tsx
  frontend/pages/src/common/home-page.tsx
Labels: enhancement, frontend

#368 table view
  apps/storybook/src/stories/atoms/DataTable.stories.tsx
  frontend/store/src/hooks/use-initialize-default-data.ts
  frontend/store/src/hooks/use-project-task-data.ts
  frontend/store/src/utils/default-labels.ts
  frontend/ui/src/components/kanban-board/table/table-columns-config.tsx
  frontend/ui/src/components/kanban-board/table/table-view.tsx
  frontend/ui/src/components/tanstack-table/components/DataTable.tsx
  frontend/ui/src/components/tanstack-table/components/GroupHeaderRow.tsx
  frontend/ui/src/components/tanstack-table/components/TableBody.tsx
  frontend/ui/src/components/tanstack-table/components/TableHeader.tsx
  frontend/ui/src/components/tanstack-table/demo/grouped-demo.tsx
  frontend/ui/src/components/tanstack-table/demo/updated-group-demo.tsx
  frontend/ui/src/components/tanstack-table/hooks/useTableState.ts
  frontend/ui/src/components/tanstack-table/index.ts
  frontend/ui/src/components/tanstack-table/types.ts
Labels: draft, frontend

#369 refactor: lazy load routes
  apps/fihi-app/src/App.tsx
  apps/fihi-app/src/route-builder.ts
  frontend/pages/src/auth/hooks/auth.ts
  frontend/pages/src/auth/routes/email-verification.tsx
  frontend/pages/src/auth/routes/forgot-password.tsx
  frontend/pages/src/auth/routes/google-auth-callback.tsx
  frontend/pages/src/auth/routes/login.tsx
  frontend/pages/src/auth/routes/reset-password.tsx
  frontend/pages/src/auth/routes/signup.tsx
  frontend/pages/src/auth/routes/tauri-google-auth-callback.tsx
  frontend/pages/src/auth/routes/welcome.tsx
  frontend/pages/src/common/home-page.tsx
  frontend/pages/src/common/routes/loading.tsx
  frontend/pages/src/common/routes/not-found.tsx
  frontend/pages/src/common/routes/test.tsx
  frontend/pages/src/dashboard/routes/dashboard-home.tsx
  frontend/pages/src/dashboard/routes/dynamic-dashboard.tsx
  frontend/pages/src/file-manager/routes/index.tsx
  frontend/pages/src/notes/routes/index.tsx
  frontend/pages/src/onboarding/routes/onboarding.tsx
  frontend/pages/src/orgs/routes/env-vars.tsx
  frontend/pages/src/orgs/routes/organisations.tsx
  frontend/pages/src/orgs/routes/users.tsx
  frontend/pages/src/orgs/users-page.tsx
  frontend/pages/src/projects/routes/index.tsx
  frontend/pages/src/roles/routes/index.tsx
  frontend/pages/src/tasks/routes/index.tsx
  frontend/pages/src/translations/routes/translations.tsx
  frontend/pages/src/users/routes/list-users.tsx
  frontend/pages/src/users/routes/notifications.tsx
  frontend/pages/src/users/routes/profile.tsx
  frontend/pages/src/users/routes/settings.tsx
Labels: enhancement, frontend

#374 List view update
  frontend/store/src/hooks/use-project-task-data.ts
  frontend/store/src/sql/main.ts
  frontend/ui/src/components/kanban-board/hooks/use-kanban-data.ts
  frontend/ui/src/components/kanban-board/hooks/use-list-view.ts
  frontend/ui/src/components/kanban-board/hooks/use-members.ts
  frontend/ui/src/components/kanban-board/list/index.tsx
  frontend/ui/src/components/kanban-board/list/list-column.tsx
  frontend/ui/src/components/kanban-board/list/task-actions-menu.tsx
  frontend/ui/src/components/kanban-board/list/task-card.tsx
  frontend/ui/src/components/kanban-board/shared/overlapping-avatar-group.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: frontend

#387 feat: change font to Inter and update widget font variables
  frontend/ui/src/components/charts/stats-card.tsx
  frontend/ui/src/components/dashboard/assets/index.tsx
  frontend/ui/src/components/dashboard/sidebar/templates.tsx
  frontend/ui/src/components/dashboard/sidebar/widgets-data.tsx
  frontend/ui/src/components/icons/clipboard-add.tsx
  frontend/ui/src/components/icons/clipboard-check.tsx
  frontend/ui/src/components/icons/clipboard-status.tsx
  frontend/ui/src/components/icons/clipboard.tsx
  frontend/ui/src/hooks/use-grid-components.tsx
  frontend/ui/src/hooks/use-layout-store.ts
  frontend/ui/src/hooks/use-widget-drag-and-drop.ts
  frontend/ui/src/preset.ts
  frontend/ui/src/styles/global.css
  frontend/ui/src/types/index.ts
  frontend/ui/src/widgets/active-task/index.tsx
  frontend/ui/src/widgets/activity-timeline/index.tsx
  frontend/ui/src/widgets/clock/clock.css
  frontend/ui/src/widgets/clock/clock.tsx
  frontend/ui/src/widgets/live-visitors/index.tsx
  frontend/ui/src/widgets/monthly-budget/index.tsx
  frontend/ui/src/widgets/posting-tasks/index.tsx
  frontend/ui/src/widgets/project/project-timeline.tsx
  frontend/ui/src/widgets/project/project.tsx
  frontend/ui/src/widgets/project/total-project.tsx
  frontend/ui/src/widgets/statistics/bar-statistics.tsx
  frontend/ui/src/widgets/statistics/statistics.tsx
  frontend/ui/src/widgets/subscriber-countries/index.tsx
  frontend/ui/src/widgets/task-stats/done-task.tsx
  frontend/ui/src/widgets/task-stats/in-progress.tsx
  frontend/ui/src/widgets/task-stats/new-task.tsx
  frontend/ui/src/widgets/task-stats/total-task.tsx
Labels: frontend

#388 feat(dashboard): retrieved old widget ( clock, battery, news, weather)
  frontend/ui/src/components/dashboard/assets/dark-clock.svg
  frontend/ui/src/components/dashboard/assets/index.tsx
  frontend/ui/src/components/dashboard/assets/light-clock.svg
  frontend/ui/src/components/dashboard/sidebar/widgets-data.tsx
  frontend/ui/src/hooks/use-grid-components.tsx
  frontend/ui/src/widgets/battery/battery-widget.tsx
  frontend/ui/src/widgets/battery/battery.tsx
Labels: frontend

#395 feat(dashboard): add property sheet widgets to the dashboard
  apps/fihi-app/src/App.tsx
  frontend/ui/src/components/dashboard/assets/dark-property-sheet.svg
  frontend/ui/src/components/dashboard/assets/index.tsx
  frontend/ui/src/components/dashboard/assets/light-property-sheet.svg
  frontend/ui/src/components/dashboard/sidebar/widgets-data.tsx
  frontend/ui/src/components/theme/theme-panel.tsx
  frontend/ui/src/hooks/use-grid-components.tsx
  frontend/ui/src/widgets/property-sheet/index.tsx
Labels: frontend

#417 feat: additional dashboard presets
  frontend/ui/src/components/dashboard/sidebar/widgets-data.tsx
  public/images/dashboard/presets/dark/default-layout.svg
  public/images/dashboard/presets/dark/group-template.svg
  public/images/dashboard/presets/default-presets.png
  public/images/dashboard/presets/hero-thirds.png
  public/images/dashboard/presets/light/default-layout.svg
  public/images/dashboard/presets/light/group-template.svg
  public/images/dashboard/presets/presets2.png
  public/images/dashboard/presets/sidebar.png
  public/images/dashboard/presets/split-centered.png
  public/images/dashboard/presets/split-columns.png
  public/images/dashboard/presets/split-rows.png
  public/images/dashboard/presets/two-and-one.png
Labels: draft

#421 feat(sidebar): fix responsive issue on mobile
  frontend/pages/src/common/components/layouts/admin-panel/app-sidebar.tsx
  frontend/pages/src/common/components/layouts/admin-panel/nav-main.tsx
  frontend/ui/src/components/secondary-sidebars/index.tsx
  frontend/ui/src/components/sidebar/hovermenu.tsx
  frontend/ui/src/components/sidebar/sidebar.tsx
Labels: frontend

#436 feat(settings): resolve all errors on the settings page
  apps/fihi-app/src/App.tsx
  frontend/pages/src/common/components/layouts/admin-panel/app-sidebar.tsx
  frontend/pages/src/common/components/layouts/admin-panel/nav-user.tsx
  frontend/pages/src/users/settings-page.tsx
  frontend/store/src/hooks/use-settings-store.ts
  frontend/ui/src/components/auto-form/fields/object.tsx
  frontend/ui/src/components/auto-form/index.tsx
  frontend/ui/src/components/page-header.tsx
  frontend/ui/src/components/shadcn/index.ts
  frontend/ui/src/components/shadcn/tabs.tsx
  frontend/ui/src/components/theme/theme-panel.tsx
  frontend/ui/src/widgets/weather/weather-card.tsx
Labels: enhancement, frontend

#441 feat: remove profile page, add email field to settings, and add theme switcher to sidebar dropdown
  frontend/pages/src/common/components/layouts/admin-panel/nav-user.tsx
  frontend/pages/src/common/components/layouts/navbar.tsx
  frontend/pages/src/common/components/user-profile-image.tsx
  frontend/pages/src/route-config.ts
  frontend/pages/src/users/index.ts
  frontend/pages/src/users/routes/index.tsx
  frontend/pages/src/users/routes/profile.tsx
  frontend/pages/src/users/settings-page.tsx
  frontend/ui/src/components/avatar-editable.tsx
  frontend/ui/src/components/sidebar/sidebar.tsx
  frontend/ui/src/components/theme/theme-panel.tsx
Labels: enhancement, frontend

#439 feat(sidebar): show labels under icons when collapsed (like Slack)
  frontend/ui/src/components/sidebar/sidebar.tsx
Labels: frontend

#445 feat(sidebar): resolved sidebar hover card and secondary sidebar theme issue
  frontend/pages/src/common/components/layouts/admin-panel/nav-main.tsx
  frontend/pages/src/common/components/layouts/admin-panel/project-switcher.tsx
  frontend/ui/src/components/charts/stats-card.tsx
  frontend/ui/src/components/secondary-sidebars/file-folder/index.tsx
  frontend/ui/src/components/secondary-sidebars/file-folder/tree-view.tsx
  frontend/ui/src/components/secondary-sidebars/index.tsx
  frontend/ui/src/components/sidebar/hovermenu.tsx
  frontend/ui/src/components/sidebar/sidebar.tsx
Labels: frontend
