Repository incmixlabs/ui, pull requests merged in 2025-08, with the labels that each got.

#446 feat(heading): implement reusable Heading component and refactor existing headings across files
  frontend/pages/src/common/components/layouts/admin-panel/nav-main.tsx
  frontend/pages/src/users/settings-page.tsx
  frontend/ui/src/components/common/heading.tsx
  frontend/ui/src/components/common/index.tsx
  frontend/ui/src/components/common/paragraph.tsx
  frontend/ui/src/components/dashboard/sidebar/index.tsx
  frontend/ui/src/components/dashboard/sidebar/layout-presets-selection.tsx
  frontend/ui/src/components/dashboard/sidebar/templates.tsx
  frontend/ui/src/components/file-manager/components/project-box.tsx
  frontend/ui/src/components/file-manager/components/project-card.tsx
  frontend/ui/src/components/file-manager/components/project-details.tsx
  frontend/ui/src/components/kanban-board/board/board-column.tsx
  frontend/ui/src/components/kanban-board/board/index.tsx
  frontend/ui/src/components/kanban-board/board/task-card.tsx
  frontend/ui/src/components/kanban-board/list/task-card.tsx
  frontend/ui/src/components/kanban-board/shared/old-task-card-drawer.tsx
  frontend/ui/src/components/kanban-board/shared/task-card-components/task-title-section.tsx
  frontend/ui/src/components/kanban-board/table/table-view.tsx
  frontend/ui/src/components/notes/index.tsx
  frontend/ui/src/components/page-header.tsx
  frontend/ui/src/components/projects/components/project-card.tsx
  frontend/ui/src/components/projects/components/project-checklist.tsx
  frontend/ui/src/components/projects/index.tsx
  frontend/ui/src/components/radixui/typography.ts
  frontend/ui/src/components/theme/theme-panel.tsx
  frontend/ui/src/widgets/active-task/index.tsx
  frontend/ui/src/widgets/grouplist/index.tsx
  frontend/ui/src/widgets/project/project-list.tsx
  frontend/ui/src/widgets/property-sheet/index.tsx
  frontend/ui/src/widgets/user-profile/index.tsx
Labels: enhancement, frontend

#447 Reusable dropdown
  frontend/ui/src/components/dropdown-selector/index.ts
  frontend/ui/src/components/dropdown-selector/label-dropdown-selector.tsx
  frontend/ui/src/components/dropdown-selector/label-utils.ts
  frontend/ui/src/components/index.ts
  frontend/ui/src/components/kanban-board/board/board-column.tsx
  frontend/ui/src/components/kanban-board/board/index.tsx
  frontend/ui/src/components/kanban-board/board/task-card.tsx
  frontend/ui/src/components/kanban-board/hooks/use-kanban-data.ts
  frontend/ui/src/components/kanban-board/hooks/use-list-view.ts
  frontend/ui/src/components/kanban-board/hooks/use-table-view.ts
  frontend/ui/src/components/kanban-board/list/index.tsx
  frontend/ui/src/components/kanban-board/list/list-column.tsx
  frontend/ui/src/components/kanban-board/list/mention-task-input.tsx
  frontend/ui/src/components/kanban-board/priority-config.ts
  frontend/ui/src/components/kanban-board/shared/add-task-form.tsx
  frontend/ui/src/components/kanban-board/shared/add-task-schema.ts
  frontend/ui/src/components/kanban-board/shared/task-card-components/task-action-buttons.tsx
  frontend/ui/src/components/kanban-board/shared/task-card-components/utils/types.ts
  frontend/ui/src/components/kanban-board/shared/task-card-drawer.tsx
  frontend/ui/src/components/kanban-board/table/table-view.tsx
  frontend/ui/src/components/tanstack-table/utils/dropdown-utils.tsx
Labels: enhancement, frontend

#450 feat: add dnd kanban board in the task page
  frontend/ui/src/components/kanban-board/board/index.tsx
  frontend/ui/src/components/kanban-board/dnd-example/BoardColumn.tsx
  frontend/ui/src/components/kanban-board/dnd-example/KanbanBoard.tsx
  frontend/ui/src/components/kanban-board/dnd-example/TaskCard.tsx
  frontend/ui/src/components/kanban-board/dnd-example/multipleContainersKeyboardPreset.ts
  frontend/ui/src/components/kanban-board/dnd-example/utils.ts
Labels: frontend

#451 Fix list view
  frontend/store/src/hooks/projects/use-project-task-data.ts
  frontend/store/src/hooks/use-initialize-default-data.ts
  frontend/ui/src/components/kanban-board/hooks/use-kanban-data.ts
  frontend/ui/src/components/kanban-board/hooks/use-list-view.ts
  frontend/ui/src/components/kanban-board/hooks/use-task-copy-buffer.tsx
  frontend/ui/src/components/kanban-board/list/index.tsx
  frontend/ui/src/components/kanban-board/list/inline-add-task-card.tsx
  frontend/ui/src/components/kanban-board/list/list-column.tsx
  frontend/ui/src/components/kanban-board/list/task-actions-menu.tsx
  frontend/ui/src/components/kanban-board/list/task-card.tsx
  frontend/ui/src/components/kanban-board/utils/csv-export.ts
  frontend/ui/src/components/kanban-board/utils/priority-utils.ts
  frontend/ui/src/components/projects/components/reusable-add-project.tsx
Labels: enhancement, frontend

#456 feat: update UI with all existing functionality in DnD Kit Kanban board
  frontend/ui/src/components/kanban-board/board/board-column.tsx
  frontend/ui/src/components/kanban-board/dnd-example/BoardColumn.tsx
  frontend/ui/src/components/kanban-board/dnd-example/TaskCard.tsx
Labels: frontend

#494 Refactor table 2 reusable components
  frontend/store/src/utils/color.ts
  frontend/ui-base/src/2elements/dates/date-picker.tsx
  frontend/ui-base/src/3blocks/tanstack-table/cell-renderers.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/ColumnConfigDialog.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/ColumnRenderers.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/DataTable.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/DropdownCellEditor.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/DropdownOptionsEditor.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/EditTableForm.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/EditableBooleanCell.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/EditableCell.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/EditableDateCell.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/EditablePeopleCell.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/EditableTagCell.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/GroupHeaderRow.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/KeyboardShortcutsHelp.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/TableBody.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/TableFilters.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/TableHeader.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/TablePagination.tsx
  frontend/ui-base/src/3blocks/tanstack-table/components/TableUtilityRows.tsx
  frontend/ui-base/src/3blocks/tanstack-table/demo/task-status-demo.tsx
  frontend/ui/src/components/kanban-board/priority-config.ts
  frontend/ui/src/components/projects/components/project-form-schema.ts
Labels: draft
